.rates_row {
    border-top: 2px solid lightgray;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.rates_row:nth-child(even) {
    background: white;
}

.rates_row:nth-child(odd) {
    background-color: #EFEFEF;
}
